<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>OUHSC Asthma QI</title>

    <link href="static/thirdparty/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="stats.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar hidden">
          <ul class="nav nav-sidebar">
            <li class="section-title">Settings</li>
            <li class="section">
              <div><em>Add analysis parameters here</em></div>
            </li>
          </ul>
        </div>
        <div class="col-md-12 col-md-offset-0 main">
          <h2 class="sub-header">Primary Outcomes</h2>
          <div class="row">
            <div class="col-md-12">
              <h4 class="sub-header">Length of Stay</h4>
              <div id="graph1" class="graph"></div>
            </div>
          </div>
          <div class="row">
            <div id="histograms" class="col-md-12">
              <h4 class="sub-header">Histograms by Time Period</h4>
            </div>
          </div>

          <h2 class="sub-header">Statistics</h2>
          <div class="row">
              <div class="col-md-12">
                <table id="stats-table" class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Jan 2007 to Jun 2011</th>
                      <th>Jul 2011 to Jun 2012</th>
                      <th>Jul 2012 to Jun 2013</th>
                      <th>Jul 2013 to Jun 2014</th>
                      <th>Jul 2014 to Dec 2015</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
          </div>
          <h2 class="sub-header">Data</h2>
          Raw data (anonymized): <a href="https://raw.githubusercontent.com/jonjlee/asthma/gh-pages/data.csv">CSV</a>
        </div>
      </div>
    </div>

    <!-- Templates -->
    <script id="table-template" type="text/template">
      <tbody>
        <% _.each(rows, function(row, rownum) { %>
          <tr>
          <% _.each(row, function(col, colnum) {
            header = (rownum < num_header_rows || colnum < num_header_cols);
            if (header) {
              print("<th>" + col + "</th>");
            } else {
              print("<td>" + col + "</td>");
            }
          }); %>
          </tr>
        <% }); %>
      </tbody>
    </script>
    <script id="statsrow-template" type="text/template">
        <tr>
          <th><%= label %></th>
          <% for (var i in cols) { %>
            <td><%= cols[i]%></td>
          <% } %>
        </tr>
    </script>
    <script id="loshistogram-2-col-template" type="text/template">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <p class="text-center"><strong>Length of Stay, <%= data[0].timeRange %> (Hours)</strong></p>
          <div id="<%= data[0].graphId %>" class="graph"></div>
        </div>
        <% if (data.length > 1) { %>
        <div class="col-md-5">
          <p class="text-center"><strong>Length of Stay, <%= data[1].timeRange %> (Hours)</strong></p>
          <div id="<%= data[1].graphId %>" class="graph"></div>
        </div>
        <% } %>
      </div>
    </script>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/thirdparty/jquery-1.11.2.min.js"></script>
    <script src="static/thirdparty/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <script src="static/thirdparty/flotr2.min.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/thirdparty/FlashCanvas/bin/flashcanvas.js"></script>
    <![endif]-->
    <script src="static/thirdparty/moment.js"></script>
    <script src="static/thirdparty/simple_statistics.js"></script>
    <script src="static/histogram.js"></script>
    <script src="data.js"></script>
    <script src="stats.js"></script>
  </body>
</html>
