<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>OUHSC Asthma QI</title>

    <link href="static/thirdparty/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/thirdparty/bootstrap-slider-4.8.1/css/bootstrap-slider.min.css" rel="stylesheet">
    <link href="view.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="section hidden">
              <div>Dates for baseline data:</div>
              <input id="baseline-range" class="slider" type="text"/>
            </li>
            <li class="section">
              <div>Visit Type:</div>
              <select id="visit-type" class="form-control">
                <option>All</option>
                <option>ER only</option>
              </select>
            </li>
            <li class="section">
              <div>Gender:</div>
              <select id="gender" class="form-control">
                <option>All</option>
                <option>M</option>
                <option>F</option>
              </select>
            </li>
            <li class="section">
              <div>Months per year to compare:</div>
              <input id="comparator-range" class="slider" type="text"/>
            </li>
            <li class="section">
              <div>Days between readmission:</div>
              <input id="readmission-days" class="slider" type="text"/>
            </li>
          </ul>
        </div>
        <div class="col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">Primary Outcomes</h2>
          <div class="row">
            <div class="col-md-12">
              <h4 class="sub-header">Length of Stay</h4>
              <div id="graph1" class="graph"></div>
            </div>
          </div>
          <div class="row hidden">
            <div id="histograms" class="col-md-12">
              <h4 class="sub-header">Histograms by Time Period</h4>
            </div>
          </div>

          <h2 class="sub-header">Secondary Outcomes</h2>
          <div class="row">
            <div class="col-md-6">
              <h4 class="sub-header">Admissions</h4>
              <div id="admits-graph" class="graph"></div>
            </div>
            <div class="col-md-6">
              <h4 class="sub-header">Visits leading to revisit</h4>
              <div id="readmits-graph" class="graph"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4 class="sub-header">Average # hours to nebulizer</h4>
              <div id="nebs-graph" class="graph"></div>
            </div>
            <div class="col-md-6">
              <h4 class="sub-header">Average # hours to steroids</h4>
              <div id="steroids-graph" class="graph"></div>
            </div>
          </div>
          <div class="row">
            <h2 class="sub-header">Statistics</h2>
            <div class="row">
              <div class="col-md-12">
                <h4>Sample Size</h4>
                <table id="n-table" class="table"></table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4>Length of Stay</h4>
                <table id="stats-table" class="table"></table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4>Admission / Readmission</h4>
                <table id="readmit-table" class="table"></table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4>Medications</h4>
                <table id="meds-table" class="table"></table>
              </div>
            </div>
          </div>

          <h2 class="sub-header">Data</h2>
          <ul>
            <li>Raw data (anonymized): <a href="https://raw.githubusercontent.com/jonjlee/asthma/gh-pages/data.csv">CSV</a></li>
            <li>Filtered data for this page: <a download href="https://raw.githubusercontent.com/jonjlee/asthma/gh-pages/data.js">JS</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Templates -->
    <script id="table-template" type="text/template">
      <tbody>
        <% _.each(rows, function(row, rownum) { %>
          <tr>
          <% _.each(row, function(col, colnum) {
            header = (rownum < num_header_rows || colnum < num_header_cols);
            if (header) {
              print("<th>" + col + "</th>");
            } else {
              print("<td>" + col + "</td>");
            }
          }); %>
          </tr>
        <% }); %>
      </tbody>
    </script>
    <script id="loshistogram-2-col-template" type="text/template">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <p class="text-center"><strong>Length of Stay, <%= data[0].timeRange %> (Hours)</strong></p>
          <div id="<%= data[0].graphId %>" class="graph"></div>
        </div>
        <% if (data.length > 1) { %>
        <div class="col-md-5">
          <p class="text-center"><strong>Length of Stay, <%= data[1].timeRange %> (Hours)</strong></p>
          <div id="<%= data[1].graphId %>" class="graph"></div>
        </div>
        <% } %>
      </div>
    </script>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/thirdparty/jquery-1.11.2.min.js"></script>
    <script src="static/thirdparty/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <script src="static/thirdparty/bootstrap-slider-4.8.1/bootstrap-slider.min.js"></script>
    <script src="static/thirdparty/moment.min.js"></script>
    <script src="static/thirdparty/simple_statistics.js"></script>
    <script src="static/thirdparty/lodash-3.7.0.min.js"></script>
    <script src="static/thirdparty/flotr2.min.js"></script>
    <script src="static/histogram.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/thirdparty/FlashCanvas/bin/flashcanvas.js"></script>
    <![endif]-->
    <script src="utils.js"></script>  <!-- utility functions -->
    <script src="data.js"></script>   <!-- include data set definitions -->
    <script src="app.js"></script>   <!-- definitions for init(), calc(), render() -->
    <script> _init(); </script>
  </body>
</html>
